//Announcement Bar Styles, used for displaying announcements at the top of the page
//=================================================================================
.announcement-bar {
    background: $fstNavBackColor;
    color: $fstNavColor;
    display: flex;
    flex-flow: row;
    border-bottom: 1px $borderColor solid;
    padding: .8em 2em;

    .content {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row;
        list-style: none;
        font-size: .85em;
        font-weight: 500
    }
}
//=================================================================================

//Dropdown menu Styles, used for displaying menus with buttons
//===================================================================
.nav-dropdown {
    position: relative;
    display: inline-block;

    & > button {
        background: none;
        color: white;
        font-weight: 500;
        border: none;
        padding: 0;
    }

    &.dropdown-currency {
        .dropdown-content {
            &:before {
                @include Arrow("down",white,.5em,20%);
            }
        }
    }

    &.dropdown-account {
        .dropdown-content {
            &:before {
                @include Arrow("down",white,.5em,40%);
            }
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: calc(100% + 0.55em);
        left: 0;
        right: auto;
        padding: 1em 0;
        background: white;
        border-radius: .3em;
        @include BoxShadow(2px,1px,10px,3px);
        animation: DropdownAnimation .4s ease-in-out forwards;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &:hover {
                    button {
                        color: $ddhighlightcolor;
                        background: $ddhighlightback;
                    }
                }

                button {
                    background: none;
                    border: none;
                    color: $ddtextcolor;
                    text-align: center;
                    font-weight: 500;
                    padding: .5em 1.5em;
                    white-space: nowrap;
                    width: 100%;
                    transition: background .3s ease-in-out, color .3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}
//===================================================================

//Badge Styles, used for displaying numbers or small informative text
//===================================================================
.badge {
    position: relative;
    text-align: center;
    font-size: .8em;
    padding: .2em .4em;

    &.badge-info {
        background: #00BADB;
        color: white;
    }

    &.badge-circle {
        border-radius: 2em;
        top: -1.5em;
        left: -.5em;
    }
}
//===================================================================

//Carousel Styles
//================================================
.swiper-container {
    width: 100%;
    height: 75vh;

    .swiper-wrapper {
        .swiper-slide {
            display: flex;
            position: relative;
            background-color: rgba(0,0,0,0.20);
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 0 2em;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,.2);
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            &--Left {
                .content-wrapper {
                    align-items: flex-start;

                    h2, p {
                        text-align: start;
                    }
                }
            }

            &--Center {
                .content-wrapper {
                    align-items: center;

                    h2, p {
                        text-align: center;
                    }
                }
            }

            &--Right {
                .content-wrapper {
                    align-items: flex-end;

                    h2, p {
                        text-align: end;
                    }
                }
            }

            &-active {
                .content-wrapper {
                    h2 {
                        animation: CarouselAnimation 1s ease-in-out forwards;
                    }

                    p {
                        animation: CarouselAnimation 1s ease-in-out .5s forwards;
                    }

                    button, a {
                        animation: CarouselAnimation 1s ease-in-out 1s forwards;
                    }
                }
            }

            .content-wrapper {
                position: relative;
                z-index: 1;
                display: flex;
                flex-flow: column wrap;
                width: 100%;
                margin: auto 0;

                h2, p {
                    color: $TextColor;
                    margin: 0 0 25px;
                    transition: transform 1s ease-in-out;
                    opacity: 0;
                }

                h2 {
                    font-weight: 500;
                }

                p {
                    font-weight: normal;
                }

                button, a {
                    padding: 1em 2em;
                    color: $btnColor;
                    border: none;
                    transition: background .3s ease-in-out, transform 1s ease-in-out;
                    background: $btnBackground;
                    border-radius: .2em;
                    font-weight: 500;
                    opacity: 0;

                    &:hover {
                        background: rgba($btnBackground,.8);
                    }
                }
            }
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            background: white;
            opacity: .8;

            &-active {
                background: $fstNavBackColor;
            }
        }
    }
}
//================================================

//Promo block Styles
//================================================
.promo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 2em;
    margin: 4em 0;

    .promo-block {
        flex-basis: 32%;
        border-radius: .2em;
        overflow: hidden;
        @include BoxShadow(3px,1px,2px,1px);

        &--Black {
            background: black;

            button, a {
                color: black;
            }
        }

        &--Cyan {
            background: darkcyan;

            button, a {
                color: darkcyan;
            }
        }

        &--Magenta {
            background: darkmagenta;

            button, a {
                color: darkmagenta;
            }
        }

        &--Orange {
            background: darkorange;

            button, a {
                color: darkorange;
            }
        }

        &--Red {
            background: darkred;

            button, a {
                color: darkred;
            }
        }

        &--Brown {
            background: brown;

            button, a {
                color: brown;
            }
        }

        &--Maroon {
            background: maroon;

            button, a {
                color: maroon;
            }
        }

        &--Blue {
            background: darkblue;

            button, a {
                color: darkblue;
            }
        }

        &--Green {
            background: green;

            button, a {
                color: green;
            }
        }

        a {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding: 2em 2em 6em;
            background-position: right -5% bottom -50%;
            background-repeat: no-repeat;
            background-size: 14.5em;
            transition: background-position .3s ease-in-out;

            &:hover {
                background-position: right -5% bottom -30%;
            }

            .title {
                font-weight: 600;
                color: white;
            }

            .text {
                color: white;
                margin: 1.5em 0;
            }

            .button, .anchor {
                background: white;
                padding: 1em 1.5em;
                border-radius: .2em;
                font-weight: 500;
                transition: background .3s ease-in-out;

                &:hover {
                    background: rgba(white,.8);
                }
            }
        }
    }
}
//================================================
//offer block Styles
//================================================
.offer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 2em;
    margin: 4em 0;

    .offer-block {
        flex-basis: 49%;
        background-color: white;
        @include BoxShadow(3px,1px,2px,1px);

        a {
            width: 100%;
            height: 100%;
            padding: 2em;
            display: flex;
            flex-flow: row;

            img {
                border-radius: .3em;
                margin-right: 2em;
                width: 6em;
                height: auto;
            }

            .offer-block-inner {
                .title {
                    font-weight: 500;
                    color: $fstNavBackColor;
                }

                .body {
                    color: $sndNavSecondColor;
                }
            }
        }
    }
}
//================================================
