//Margin helpers
//===================================
.ml--2 {
    margin-left: .2em;
}

.mr--2 {
    margin-right: .2em;
}

.ml--3 {
    margin-left: .3em;
}

.mr--3 {
    margin-right: .3em;
}

.ml--5 {
    margin-left: .5em;
}

.mr--5 {
    margin-right: .5em;
}

.ml-1 {
    margin-left: 1em;
}

.mr-1 {
    margin-right: 1em;
}
//===================================

//Flexbox helpers
//===================================
.flex-row {
    display: flex;
    flex-flow: row;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}
//===================================
//Section
//================================================
.section {
    margin: 4em 0;
}
//================================================
//Container
//================================================
.container {
    padding: 0 2em;
}
//================================================
//Line height helpers
//===================================
.lh-1-5 {
    line-height: 1.5;
}
.lh-2 {
    line-height: 2;
}
//===================================