$la-font-path: "../../wwwroot/lib/line-awesome/dist/line-awesome/fonts";
$font-family: 'Poppins', sans-serif;

/* Colors
   ===================================
*/

/* Nav
   ===================================
*/
/* 1st Nav
   ===================================
*/
$fstNavColor: white;
$fstNavBackColor: #1E2D7D;
$borderColor: #a3afef4d;
/* 2nd Nav
   ===================================
*/
$sndNavColor: white;
$sndNavBackColor: #1E2D7D;
$sndNavTitleTextColor: #a3afef;
$sndNavSecondColor: #677279;
$searchButtonBack: #00BADB;
/* 3rd Nav
   ===================================
*/
$trdNavColor: #677279;
$trdNavBackColor: white;
/* Easings
   ===================================
*/
$main-easing: cubic-bezier(0.65, 0, 0.35, 1);

/* Breakpoints
   ===================================
*/
$xsMobileBreakpoint: 320px;
$mobileBreakpoint: 950px;
$mediumBreakpoint: 1024px;
