<div class="swiper-container">

    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--left">
            <div class="content-wrapper">
                <h2>Some title that will be dynamically fetched</h2>
                <p>Some small text that will explain something for the purpose of the store or something.</p>
                <a href="#">Shop for something</a>
            </div>
        </div>
        <div class="swiper-slide swiper-slide--center">
            <div class="content-wrapper">
                <h2>Some title that will be dynamically fetched</h2>
                <p>Some small text that will explain something for the purpose of the store or something.</p>
                <a href="#">Shop for something</a>
            </div>
        </div>
        <div class="swiper-slide swiper-slide--right">
            <div class="content-wrapper">
                <h2>Some title that will be dynamically fetched</h2>
                <p>Some small text that will explain something for the purpose of the store or something.</p>
                <a href="#">Shop for something</a>
            </div>
        </div>
    </div>

    <div class="swiper-pagination"></div>
</div>