@using ZEC.Core.Models.Promotions
@model IEnumerable<PromoModel>

<div class="promo-container">
    @foreach (var item in Model)
    {
        <partial name="Home/PromoBlock" model="item" />
    }
</div>