@using ZEC.Core.Models.Promotions
@model PromoModel

<div class="promo-block promo-block--@Model.BackgroundColor">
    <a href="#">
        <div class="title">
            @Model.Title
        </div>
        <p class="text">
            @Model.Text
        </p>
        <div class="button">@Model.ButtonText</div>
    </a>
</div>