@section Styles {
    <environment exclude="Development">
        <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet"
              asp-fallback-href="~/_content/ZEC.Pages/lib/swiper/swiper-bundle.min.css" />
    </environment>
    <environment include="Development">
        <link href="~/_content/ZEC.Pages/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />
    </environment>
}
@section Scripts {
    <environment exclude="Development">
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"
                asp-fallback-src="~/_content/ZEC.Pages/lib/swiper/swiper-bundle.min.js">
        </script>
        <script src="~/_content/ZEC.Pages/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/_content/ZEC.Pages/lib/swiper/swiper-bundle.min.js"></script>
        <script src="~/_content/ZEC.Pages/js/home.js" asp-append-version="true"></script>
    </environment>
}

<partial name="Home/Carousel" />

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel eros egestas, faucibus nisi et, faucibus urna. Nulla et molestie turpis, vitae suscipit purus. Pellentesque vel libero vel erat elementum tempus. Aenean vitae leo eget lectus efficitur dictum. Maecenas malesuada nunc sit amet mi tincidunt viverra. Donec sagittis nulla enim, et porttitor arcu convallis at. Vestibulum tempor sodales nisl id pellentesque. Sed ut vehicula lorem, nec iaculis lacus. Phasellus commodo ipsum id leo venenatis laoreet. Proin et mi sollicitudin, volutpat turpis non, pharetra metus. In commodo vitae dolor cursus ultricies. Nullam a tortor egestas, luctus leo vel, finibus leo. Quisque mauris purus, mattis eu ultrices nec, ultricies id ex.

    Etiam id pellentesque velit. Vivamus ac auctor eros. In urna lacus, posuere a lectus eu, posuere cursus ligula. Sed cursus vitae ligula at efficitur. Maecenas mollis pulvinar quam. Suspendisse urna orci, lacinia non lacinia a, dapibus a leo. Integer efficitur fringilla sem. Aliquam non lacus non ipsum porta varius eget ac sapien. Etiam lacinia neque posuere leo rutrum molestie. Proin et imperdiet ligula. Maecenas nec turpis et neque convallis vehicula. Sed viverra varius nunc, et viverra libero eleifend sed.

    Praesent at mi facilisis, luctus leo ut, pretium nisi. Nulla viverra dictum mi, ac ornare dolor venenatis vel. Etiam eu ipsum et tellus bibendum malesuada id ut sem. Aliquam tempus dui nisl. Vestibulum eu nisi consectetur, sollicitudin nunc eu, feugiat est. Ut eget rhoncus lacus, vel interdum dolor. Integer a tellus diam.

    Nunc eget orci metus. Phasellus ut laoreet augue. In pellentesque nisi et pharetra porta. Vestibulum tincidunt risus ac lobortis maximus. Aenean mollis dui vel placerat ornare. Aliquam erat volutpat. Nunc sagittis nec ante a vehicula. Mauris bibendum aliquam tortor ac auctor. Morbi a tincidunt enim. Suspendisse id est posuere, dignissim lorem a, pretium ante. Fusce eget gravida nibh. Proin vel quam faucibus, sagittis erat vel, lacinia urna. Nulla in nisi vel velit auctor iaculis. Sed semper condimentum metus eu feugiat.
</p>