@using ZEC.Core.Models.About
@model AboutModel
<section class="section">
    <div class="container about-container">
        <h2 class="heading h1">@Model.Title</h2>
        <p class="text">
            @Model.Text
        </p>
        <a class="button button-blue" href="#">Discover our brand</a>
    </div>
</section>