<section class="section">
    <div class="container brands-container">
        <header class="section-header">
            <h2 class="heading">
                Brands we distribute
            </h2>
            <a class="section-action-link" href="#">View all brands</a>
        </header>
        <div class="brands-container-inner">
            <div class="brand-block">
                <a href="#"><img src="/img/brands/1.jpg" alt="Alternate Text" /></a>
            </div>
            <div class="brand-block">
                <a href="#"><img src="/img/brands/2.jpg" alt="Alternate Text" /></a>
            </div>
            <div class="brand-block">
                <a href="#"><img src="/img/brands/3.jpg" alt="Alternate Text" /></a>
            </div>
            <div class="brand-block">
                <a href="#"><img src="/img/brands/4.jpg" alt="Alternate Text" /></a>
            </div>
            <div class="brand-block">
                <a href="#"><img src="/img/brands/5.jpg" alt="Alternate Text" /></a>
            </div>
            <div class="brand-block">
                <a href="#"><img src="/img/brands/6.jpg" alt="Alternate Text" /></a>
            </div>
        </div>
    </div>
</section>