@using ZEC.Core.Models.Product
@using ZEC.Core.Models.Helpers
@model IEnumerable<ProductModel>

<section class="section">
    <div class="container featured-collection-container">
        <div class="featured-collection-container-inner">
            <div class="featured-collection-info">
                asd
            </div>
            <div class="featured-collection-content">
                <div class="swiper-container swiper4">
                    <partial name="Home/ProductCarousel" />
                </div>
            </div>
        </div>
    </div>
</section>