@using ZEC.Core.Models.Offers
@model IEnumerable<OfferModel>

<section class="section">
    <div class="container offer-container">
        @foreach (var item in Model)
        {
            <partial name="Home/OfferBlock" model="item" />
        }
    </div>
</section>