
<section class="section">
    <div class="container sales-container">
        <header class="mb-2 section-header">
            <h2 class="text-main-color weight-500">Deal zone</h2>
            <a href="#" class="section-action-link">View all sales</a>
        </header>
        <div class="swiper-container swiper3">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="round-wrapper">
                                <img src="/img/popularCategories/@item.PictureUrl" alt="@item.AltText" />
                            </div>
                            <span class="title text-main-color weight-500">@item.Name</span>
                        </a>
                    </div>
                }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>