<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Seo" />
    @RenderSection("SEO", false)
    <partial name="Styles" />
    @RenderSection("Styles", false)
</head>

<body>
    <partial name="CookieConsent" />
    <partial name="AnouncementBar" />
    <partial name="MainHeader" />
    <partial name="Sidenav" />

    <main class="main">
        @RenderBody()
    </main>

    <footer>
        <partial name="Footer" />
    </footer>

    <partial name="Scripts" />
    @RenderSection("Scripts", false)

    <partial name="StatusMessage" />
</body>
</html>
