<div class="main-header">
    <header class="header" role="banner">
        <div class="logo">
            <i class="las la-box la-2x"></i> <span>Warehouse</span>
        </div>
        <form class="search" action="/" method="get" role="search">
            <div class="input-search">
                <input type="text" name="Search" value="" placeholder="Search..." />
                <div class="categories">
                    <label for="categories">All categories <i class="las la-angle-down"></i></label>
                    <select id="categories">
                        <option value="" selected="selected">All categories</option>
                        <option value="A/V Receivers">A/V Receivers</option>
                        <option value="Amplifiers">Amplifiers</option>
                        <option value="Audio Accessories">Audio Accessories</option>
                        <option value="Earbuds">Earbuds</option>
                        <option value="Headphones">Headphones</option>
                        <option value="Home Cinema">Home Cinema</option>
                        <option value="Portable Speakers">Portable Speakers</option>
                        <option value="Projectors">Projectors</option>
                        <option value="Sound Bars">Sound Bars</option>
                        <option value="Speakers">Speakers</option>
                        <option value="Subwoofers">Subwoofers</option>
                        <option value="Turntables">Turntables</option>
                        <option value="TV Accessories">TV Accessories</option>
                        <option value="TVs">TVs</option>
                        <option value="Walkmans">Walkmans</option>
                    </select>
                </div>
                <button type="submit"><i class="las la-search"></i></button>
            </div>
        </form>
        <div class="controls">
            <div class="control control-currency">
                <div class="title">Currency</div>
                <div class="nav-dropdown dropdown-currency">
                    <button type="button">CAD $ <i class="las la-angle-down ml--5"></i></button>
                    <div class="dropdown-content">
                        <ul class="list">
                            <li><button type="button">CAD $</button></li>
                            <li><button type="button">EUR €</button></li>
                            <li><button type="button">JPY ¥</button></li>
                            <li><button type="button">USD $</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="control control-account">
                <div class="title">Login / Signup</div>
                <a href="#">My account</a>
            </div>
            <div class="control control-cart">
                <a class="flex-row align-items-center" href="#">
                    <div class="mr--2">
                        <i class="las la-shopping-cart la-2x"></i>
                        <span class="badge badge-info badge-circle">0</span>
                    </div>
                    <span>Cart</span>
                </a>
            </div>
        </div>
    </header>

    <nav class="nav-bar">
        <ul class="links">
            <li><button type="button">All Products <i class="las la-angle-down"></i></button></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">All Collections</a></li>
            <li><a href="#">Brands</a></li>
            <li><button type="button">Information <i class="las la-angle-down"></i></button></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>