//Header Animations
//================================================
@keyframes DropdownAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
//================================================
//Carousel Animations
//================================================
@keyframes CarouselAnimation {
    from {
        opacity: 0;
        transform: translateY(-1em);
    }

    to {
        opacity: 1;
        transform: translateY(00);
    }
}
//================================================

