//Announcement Bar Styles, used for displaying announcements at the top of the page
//=================================================================================
.announcement-bar {
    background: $fstNavBackColor;
    color: $fstNavColor;
    display: flex;
    flex-flow: row;
    border-bottom: 1px $borderColor solid;
    padding: .8em 2em;

    .content {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row;
        list-style: none;
        font-size: .85em;
        font-weight: 500
    }
}
//=================================================================================

//Dropdown menu Styles, used for displaying menus with buttons
//===================================================================
.nav-dropdown {
    position: relative;
    display: inline-block;

    & > button {
        background: none;
        color: white;
        font-weight: 500;
        border: none;
        padding: 0;
    }

    &.dropdown-currency {
        .dropdown-content {
            &:before {
                @include Arrow("down",white,.5em,20%);
            }
        }
    }

    &.dropdown-account {
        .dropdown-content {
            &:before {
                @include Arrow("down",white,.5em,40%);
            }
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: calc(100% + 0.55em);
        left: 0;
        right: auto;
        padding: 1em 0;
        background: white;
        border-radius: .3em;
        @include BoxShadow(2px,1px,10px,3px);
        animation: DropdownAnimation .4s ease-in-out forwards;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &:hover {
                    button {
                        color: $ddhighlightcolor;
                        background: $ddhighlightback;
                    }
                }

                button {
                    background: none;
                    border: none;
                    color: $ddtextcolor;
                    text-align: center;
                    font-weight: 500;
                    padding: .5em 1.5em;
                    white-space: nowrap;
                    width: 100%;
                    transition: background .3s ease-in-out, color .3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}
//===================================================================

//Badge Styles, used for displaying numbers or small informative text
//===================================================================
.badge {
    position: relative;
    text-align: center;
    font-size: .8em;
    font-weight: 500;

    &-info {
        background: #00BADB;
        color: white;
    }

    &-circle {
        border-radius: 2em;
        top: -1.5em;
        left: -.5em;
        padding: .2em .4em;
    }

    &-red {
        background: #EE0000;
        color: white;
    }

    &-blue {
        background: #0774D7;
        color: white;
    }

    &-product {
        padding: .4em .7em;
        border-top-right-radius: .3em;
        border-bottom-right-radius: .3em;
        font-size: .75em;
    }

    &-more {
        border-radius: .7em;
        border: lightgray 1px solid;
        padding: 0 .5em;
        color: gray;
        background: white;
    }
}
//===================================================================

//Main Carousel Styles
//================================================
.header-carousel {
    .swiper1 {
        width: 100%;
        height: 75vh;

        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                position: relative;
                background-color: rgba(0,0,0,0.20);
                background-position: center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                padding: 0 2em;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(0,0,0,.2);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                &--Left {
                    .content-wrapper {
                        align-items: flex-start;

                        h2, p {
                            text-align: start;
                        }
                    }
                }

                &--Center {
                    .content-wrapper {
                        align-items: center;

                        h2, p {
                            text-align: center;
                        }
                    }
                }

                &--Right {
                    .content-wrapper {
                        align-items: flex-end;

                        h2, p {
                            text-align: end;
                        }
                    }
                }

                &-active {
                    .content-wrapper {
                        h2 {
                            animation: CarouselAnimation 1s ease-in-out forwards;
                        }

                        p {
                            animation: CarouselAnimation 1s ease-in-out .5s forwards;
                        }

                        button, a {
                            animation: CarouselAnimation 1s ease-in-out 1s forwards;
                        }
                    }
                }

                .content-wrapper {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-flow: column wrap;
                    width: 100%;
                    margin: auto 0;

                    h2, p {
                        color: $TextColor;
                        margin: 0 0 25px;
                        transition: transform 1s ease-in-out;
                        opacity: 0;
                    }

                    h2 {
                        font-weight: 500;
                    }

                    p {
                        font-weight: normal;
                    }

                    button, a {
                        padding: 1em 2em;
                        color: $btnColor;
                        border: none;
                        transition: background .3s ease-in-out, transform 1s ease-in-out;
                        background: $btnBackground;
                        border-radius: .2em;
                        font-weight: 500;
                        opacity: 0;

                        &:hover {
                            background: rgba($btnBackground,.8);
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                background: white;
                opacity: .8;

                &-active {
                    background: $fstNavBackColor;
                }
            }
        }
    }
}
//================================================

//Promo block Styles
//================================================
.promo-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .promo-block {
        flex-basis: 32%;
        border-radius: .2em;
        overflow: hidden;
        @include BoxShadow(3px,1px,2px,1px);
        min-height: 18em;

        &--Black {
            background: black;

            button, a {
                color: black;
            }
        }

        &--Cyan {
            background: darkcyan;

            button, a {
                color: darkcyan;
            }
        }

        &--Magenta {
            background: darkmagenta;

            button, a {
                color: darkmagenta;
            }
        }

        &--Orange {
            background: darkorange;

            button, a {
                color: darkorange;
            }
        }

        &--Red {
            background: darkred;

            button, a {
                color: darkred;
            }
        }

        &--Brown {
            background: brown;

            button, a {
                color: brown;
            }
        }

        &--Maroon {
            background: maroon;

            button, a {
                color: maroon;
            }
        }

        &--Blue {
            background: darkblue;

            button, a {
                color: darkblue;
            }
        }

        &--Green {
            background: green;

            button, a {
                color: green;
            }
        }

        a {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding: 2em 2em 2em;
            background-position: right -5% bottom -50%;
            background-repeat: no-repeat;
            background-size: 14.5em;
            transition: background-position .3s ease-in-out;

            &:hover {
                background-position: right -5% bottom -30%;
            }

            .title {
                font-weight: 500;
                color: white;
                margin: 0;
            }

            .text {
                color: white;
                font-size: .85em;
            }

            .button, .anchor {
                background: white;
                padding: 1em 2em;
                border-radius: .2em;
                font-weight: 500;
                transition: background .3s ease-in-out;

                &:hover {
                    background: rgba(white,.8);
                }
            }
        }
    }
}
//================================================

//Offer block Styles
//================================================
.offer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .offer-block {
        flex-basis: 49%;
        background-color: white;
        border-radius: .2em;
        @include BoxShadow(3px,1px,2px,1px);

        a {
            width: 100%;
            height: 100%;
            padding: 2em 1.5em;
            display: flex;
            flex-flow: row;

            img {
                border-radius: .3em;
                margin-right: 2em;
                width: 6.5em;
                height: 6.5em;
            }

            .offer-block-inner {
                .title {
                    font-weight: 500;
                    color: $fstNavBackColor;
                    margin: 0 0 .8em;
                }

                .body {
                    color: $sndNavSecondColor;
                    font-size: .85em;
                    margin: 0;
                }
            }
        }
    }
}
//================================================

//Category carousel Styles
//================================================
.popular-categories {
    .swiper2 {
        width: 100%;
        height: auto;

        @include CarouselNavButtons;

        .swiper-wrapper {
            .swiper-slide {
                .content-wrapper {
                    a {
                        &:hover {
                            .round-wrapper {
                                img {
                                    transform: scale(1.05);
                                }
                            }

                            .title {
                                color: $btnBackground;
                                transform: translateX(-1em);

                                &:after {
                                    transform: translateX(0);
                                    opacity: 1;
                                }
                            }
                        }

                        .round-wrapper {
                            width: 12em;
                            height: 12em;
                            border-radius: 50%;
                            margin-bottom: 1em;
                            overflow: hidden;

                            img {
                                width: inherit;
                                height: inherit;
                                transition: transform .5s ease-in-out;
                            }
                        }

                        .title {
                            display: flex;
                            justify-content: center;
                            font-size: .9em;
                            transition: transform .3s ease-in-out;
                            position: relative;

                            &:after {
                                @extend .la-icon;
                                content: la-content($la-arrow-right);
                                position: relative;
                                right: -1em;
                                transition: transform .3s ease-in-out, opacity .3s ease-in-out;
                                transform: translateX(1em);
                                opacity: 0;
                                margin: auto 0;
                            }
                        }
                    }
                }
            }
        }

        .swiper-button-prev {
            &:after {
                @extend .la-icon;
                content: la-content($la-angle-left);
            }
        }

        .swiper-button-next {
            &:after {
                @extend .la-icon;
                content: la-content($la-angle-right);
            }
        }
    }
}
//================================================

//Category carousel Styles
//================================================
.sales-container {
    .swiper3 {
        width: 100%;
        height: 31em;
        @include CarouselNavButtons;
        @include SwiperProducts;
    }
}
//================================================

//Mosaic promo block Styles
//================================================
.promo-container-mosaic {

    .promo-column {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        flex-basis: 40%;

        a {
            &:hover {
                .promo-block {
                    &-cover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .promo-block {
            margin-bottom: 1.7em;
            position: relative;

            &-cover {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                transition: transform .5s ease-in-out;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &-inner {
                display: flex;
                flex-flow: column wrap;
                align-items: flex-start;
                position: relative;
                z-index: 1;

                .title, .text {
                    color: white;
                    mix-blend-mode: difference;
                }
            }
        }

        &:not(:nth-child(2)) {
            flex-basis: 28%;
        }

        &:nth-child(2) {
            .promo-block {
                min-height: 37.7em;
            }
        }
    }
}
//================================================

//About us section Styles
//================================================
.about-container {
    padding: 0 4em;
    text-align: center;
    margin: 0 15em;

    .text {
        line-height: $bigLH;
        font-size: .9em;
    }

    .button {
        display: inline-block;
        margin-top: 1em;
    }
}
//================================================

//Brands section Styles
//================================================
.brands-container {
    .brands-container-inner {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        border-radius: .2em;
        border: 1px solid lightgray;

        .brand-block {
            background: white;
            flex: 1;

            a {
                display: flex;
                padding: 1.5em;
                width: 100%;
                height: 100%;

                img {
                    width: 9em;
                    height: auto;
                    margin: auto;
                }
            }

            &:not(:last-child) {
                border-right: 1px lightgray solid;
            }
        }
    }
}
//================================================

//Featured collection Styles
//================================================
.featured-collection-container {
    &-inner {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background: #2D2D2D;
        padding: .4em;
        border-radius: .2em;

        .featured-collection-info {
            display: inline-block;
            width: 35%;
        }

        .featured-collection-content {
            display: inline-block;
            width: 65%;
            border-radius: .2em;

            .swiper4 {
                height: 31em;
                @include CarouselNavButtons;
                @include SwiperProducts;
            }
        }
    }
}
//================================================
