@mixin Arrow($direction,$color,$size,$dist) {
    width: 0;
    height: 0;
    border-top: solid transparent $size;
    border-left: solid transparent $size;
    border-right: solid transparent $size;
    border-bottom: solid $color $size;
    position: absolute;
    top: $size * -2;
    right: $dist;
    content: "";
    background: transparent
}

@mixin BoxShadow($blur1, $spread1, $blur2, $spread2) {
    -moz-box-shadow: 0 1px $blur1 $spread1 rgba(0,0,0,.16), 0 1px $blur2 $spread2 rgba(0,0,0,.08);
    -webkit-box-shadow: 0 1px $blur1 $spread1 rgba(0,0,0,.16), 0 1px $blur2 $spread2 rgba(0,0,0,.08);
    box-shadow: 0 1px $blur1 $spread1 rgba(0,0,0,.16), 0 1px $blur2 $spread2 rgba(0,0,0,.08);
}

@mixin ActionLinkArrow() {
    transition: transform .3s ease-in-out;
    position: relative;

    &:after {
        @extend .la-icon;
        content: la-content($la-arrow-right);
        position: relative;
        right: -1em;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        transform: translateX(1em);
        opacity: 0;
        margin: auto 0;
    }

    &:hover {
        color: $btnBackground;
        transform: translateX(-1em);

        &:after {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@mixin CarouselNavButtons() {
    &:hover {
        .swiper-button-prev, .swiper-button-next {
            opacity: 1;
            transform: scale(1);
        }
    }

    .swiper-button-prev, .swiper-button-next {
        opacity: 0;
        transform: scale(0);
        transition: opacity .3s ease-in-out, transform .3s ease-in-out, background .3s ease-in-out;
        background: gray;
        border-radius: 50%;
        color: white;
        width: 3em;
        height: 3em;

        &.swiper-button-disabled {
            display: none;
        }

        &:hover {
            background: $btnBackground;
        }

        &:after {
            font-size: 1em;
        }
    }
}
