$la-font-path: "../../wwwroot/lib/line-awesome/dist/line-awesome/fonts";
$font-family: 'Poppins', sans-serif;

/* Colors
   ===================================
*/

/* Body
   ===================================
*/
$bodyBackgroundColor: #F3F5F6;
/* Anouncement bar
   ===================================
*/
$fstNavColor: white;
$fstNavBackColor: #1E2D7D;
$borderColor: #a3afef4d;
/* Header
   ===================================
*/
$sndNavColor: white;
$sndNavBackColor: #1E2D7D;
$sndNavTitleTextColor: #a3afef;
$sndNavSecondColor: #677279;
$searchButtonBack: #00BADB;
/* Navbar
   ===================================
*/
$trdNavColor: #677279;
$trdNavBackColor: white;
/* Dropdown
   ===================================
*/
$ddtextcolor: gray;
$ddhighlightcolor: #0BBDDC;
$ddhighlightback: #EBFAFC;
/* Easings
   ===================================
*/
$main-easing: cubic-bezier(0.65, 0, 0.35, 1);
/* Carousel
   ===================================
*/
$TextColor: white;
$btnBackground: #0BBDDC;
$btnColor: white;
/* Breakpoints
   ===================================
*/
$xsMobileBreakpoint: 320px;
$mobileBreakpoint: 950px;
$mediumBreakpoint: 1024px;
